* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }


:root {
    --primary: #048ABF;
    --secondary: #C2E5F2;
    --tertiary: #BDFA31;
    --error-background-color: rgba(209, 71, 59, 0.875);
  }
